.header{
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background: var(--color-background);
    /* box-shadow: var(--box-shadow); */
    z-index: 100000;
    padding:0 30px 0 40px;
    transition: background .4s ease;
}

/* Boton toggle */
.header .toggle .toggle-button
{
    border: none;
    position: relative;
    cursor: pointer;
    outline: none;
    border-radius: 5rem;
    display: flex;
    background-color: var(--color-fondo);

    transition-delay: .4s;
}
.header .toggle .toggle-button::after
{
    content: "";
    width: 30px;
    height: 30px;
    background: var(--color-letra);
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    border-radius: 50%;


    transition: left .3s ease-in;
}
.header .toggle .toggle-button.active
{
    background-color: var(--color-resalte);
}
.header .toggle .toggle-button.active::after
{
    left: 2rem;
}
.header .toggle .toggle-button span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: var(--color-letra);
    transition-delay: .4s;
}

/* Boton toggle end */

.header .header__logo a{
    color: var(--color-letra);
    text-decoration: none;
    font-weight: 800;
    letter-spacing: .5px;
    font-size: 1.5rem;
}
.header .header__logo a .resaltar{
    color: var(--color-resalte);

}




.header ul{
    display: flex;
    gap: 1rem;
    transition: left .3s ease;
}
.header ul li{
    list-style: none;
    padding: .5rem .8rem;
    border-radius: 10px;
    transition: background-color .3s ease;
}
.header ul li:hover{
    background-color: var(--color-resalte);
    
}
.header ul li:hover a{
   color: #fff;
    
}
.header ul li a{
    text-decoration: none;
    color: var(--color-letra);
    font-weight: bold;
    transition: color .3s ease;
}

.bars{
    display: none;
}
.bars i{
    font-size: 2rem;
    color: var(--color-letra);
    cursor: pointer;
   
}

@media (max-width: 500px) {
    .header{

        padding: 15px;

    }
    .header .header__logo{
        flex: 1;

    }
    .header .header__logo a{

        font-size: 1.2rem;
    }
    .bars{
        display: block;
        margin: 0 .5rem 0 1rem;
    }
    .header ul{
       flex-direction: column;
       position: absolute;
       top: 80px;
       left: -100%;
       padding: 1rem 2rem;
       width: 100%;
       height: calc(100vh - 80px);
       background-color: rgba(0,0,0,.2);
    }
    .header ul.active{
      left: 0;
    }
}