@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto:wght@300&display=swap');
:root{
  --header-height:60px;
  /* Colores principales */
  --color-verde: #4CAF50; /* Un verde brillante */


  --color-resalte: #f95959;
  --color-letra: #233142;
  --color-background: #e3e3e3;
  
  /* Otros colores */
  --color-fondo: #455d7a;
  --color-transparente: rgba(0,0,0,.3);
}

/* Modo Oscuro */
body.dark-mode {
  /* Colores principales */
  --color-resalte: #f95959;
  --color-letra: #e3e3e3;
  --color-background: #233142;

  /* Otros colores */
  --color-fondo: #455d7a;
  --color-transparente: rgba(255,255,255,.3);
}
body{
  background-color: var(--color-background);

  transition: background-color .3s ease;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container{
  margin: auto;
  position: relative;
  min-height: calc(100vh - var(--header-height));
  overflow: hidden;
  top: var(--header-height);
  padding: 2rem;
  /* max-width: 1300px; */
}
a{
  text-decoration: none;
  
}
li{
  list-style: none;
}
@media (max-width: 700px) {
  .container{

    padding: 2rem 1rem;

  }
}