.dashboard-content{

    min-height: 100vh;

}
.dashboard-content h2{
    color: var(--color-resalte);
    font-weight: 500;
    text-align: center;
}

.dashboard-content .btn-crear{
    width: 100%;
    text-align: left;
}
.dashboard-content .btn-crear button{
    padding: .3rem 1rem;
    border-radius: 1rem;
    border: 0;
    border: 1px solid var(--color-letra);
    font-size: 1rem;
    background-color: transparent;
    font-weight: 800;
    margin-bottom: .5rem;
    cursor: pointer;
    color: var(--color-letra);
    
}
/* TABLA------------- */
.dashboard-content .table{
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    
}

.dashboard-content .table thead tr th{
    text-align: start;
    margin: 2px;
    padding: .5rem;
    text-transform: capitalize;
    font-size: 1.1rem;
    color: var(--color-resalte);
    font-weight: 900;
}


.dashboard-content .table tbody tr td{
    border: 1px solid var(--color-transparente);
    padding: 1rem .3rem;
    font-size: .9rem;
    overflow-x:auto;
    color: var(--color-letra);
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
}
 .dashboard-content .table tr td.correo,
 .dashboard-content .table tr td.nombre{

    text-align: start;
}

.dashboard-content .table tr td.img-container{
  text-align: center;
}
.dashboard-content .table tr td.img-container img{
   height: 100px;
}
.dashboard-content .table tr td.editar{
    text-align: center;
    color: var(--color-transparente);
    cursor: pointer;
    font-size: 1.5rem;
}
.dashboard-content .table tr td.eliminar{
    color: var(--color-transparente);
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;

} 

.dashboard-content .table tr th.config,
.dashboard-content .table tr th.id
{
     
    width: 50px;

}


/* Editar -------------------------------------------------------- */
.editar-form{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--color-transparente);
    z-index: 1000000000000000;
}
.editar-form form{
    position: absolute;
    width: 25rem;
    min-height: 25rem;
    overflow-y:scroll;
    max-height: 80vh;
    background: var(--color-background);
    z-index: 10000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--color-transparente);
    padding: 1rem;
    text-align: center;
}
.editar-form form h3{
   color: var(--color-resalte);
   font-size: 1.5rem;
}
.editar-form form .form-thing{
    position: relative;
    margin: 2rem 0;
}
.editar-form form .form-thing label{
    position: absolute;
    top: -1.5rem;
    left: 0;
    color: var(--color-letra);
    text-transform: capitalize;
}
.editar-form form .form-thing input{
    width: 100%;
    font-size: 1.5rem;
    /* border-radius: 1rem; */
    border: none;
    border-bottom: 1px solid var(--color-fondo);
    padding: 0 1rem ;
    background-color: transparent;
    color: var(--color-letra);
}

.editar-form form .form-thing button{
    width: 70%;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    color: var(--color-letra);
    padding: .5rem 0;
    background-color: var(--color-resalte);
    cursor: pointer;
}
.cerrar-editar{
    position: absolute;
    top: 2rem;
    right: 2rem;
}
.cerrar-editar i{
    font-size: 3rem;
    color: var(--color-letra);
    cursor: pointer;
}
.editar-form form  .form-thing textarea{
    resize: none;
    width: 100%;
    height: 8rem;
    border: none;
    background-color: var(--color-transparente);
    font-size: 1rem;
    padding: .5rem 1rem;
    color: var(--color-letra);
}

.editar-form form .codigos .codigos-navigation {
    /* margin-left: 1rem; */
    
}
.editar-form form .codigos .form-thing textarea{
    display: none;
    resize: none;
    width: 100%;
    height: 15rem;
    border: none;
    background-color: var(--color-background);
    font-size: 1rem;
    border-radius: 2rem;
    padding: .5rem 1rem;
    color: var(--color-letra);
    margin-top: 1rem;
}
.editar-form form .codigos .form-thing textarea.active{
    display: inline;
    
}
.editar-form form .codigos .codigos-navigation label{
    padding: .5rem .5rem;
    /* border-radius: 1rem; */
    background-color: var(--color-background);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
}
.editar-form form .codigos .codigos-navigation label:hover{
    border-bottom: 1px solid var(--color-resalte);

    
}
.editar-form form .codigos .codigos-navigation label.active{
    border-bottom: 1px solid var(--color-resalte);
    /* box-shadow: var(--box-shadow); */
    color: var(--color-resalte);
}



 
.editar-form form .form-file:hover{
    background-color: var(--rgba);
    
}
.editar-form form .form-file{
    position: relative;
    width: 100%;
    height: 10rem;
    background-color: var(--bg-black-900);
    border: 5px dashed var(--text-black-700);
    cursor: pointer;
    margin: 1.3rem 0;
    padding: 3rem 0;
}
.editar-form form .form-file::before{
    content: "Inserta imagen";
    position: absolute;
    top: -2.5rem;
    left: 0;
    font-weight: bold;
    color: var(--text-black-700);
    font-size: 1.4rem;
}
 .editar-form form .form-file label{
    display: block;
    font-size: 1.4rem;
    text-align: center;
    /* font-weight: 800; */
    cursor: pointer;
    color: var(--skin-color1);
}
 .editar-form form .form-file input{
    position: absolute;
    display: inline-block;
    inset: 0;
    opacity: 0;
    cursor: pointer;
 } 

@media (max-width:500px) {
    .dashboard-content .table{
        width: 90%;
        margin: auto;
        border-collapse: collapse;
        
    }
    .dashboard-content .table tr th{
     
        font-size: .5rem;

    }

    .dashboard-content .table tr td.correo{
        max-width: 200px;
        overflow-x: auto;
    }
    .dashboard-content .table tr td.correo{
        max-width: 40px;
    }
    .dashboard-content .table tr th.config,
    .dashboard-content .table tr th.id
    {
        
        max-width: 50px;

    }
}